body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-font-color:#ffffff;
  --primary-font:'CNN Sans Display','Helvetica Neue','Helvetica','Arial','Utkal','sans-serif';
}
